@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
$text-color: #333;

* {
  font-family: "Inter", sans-serif !important;
  box-sizing: border-box;
}

body {
  font-size: 14px;
  color: $text-color;
}

.profile-menu {
  li {
    position: relative;
    padding-right: 12px;
  }

  li:not(:last-child)::before {
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    width: 1px;
    height: 16px;
    background-color: #000;
    transform: translateY(-50%);
  }
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb {
  background: #000180;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background: #23237c;
}

.purchase-table {
  @apply table text-sm w-full bg-white text-left;

  td,
  th {
    vertical-align: baseline;
  }
}

.table {
  font-size: 13px;

  th {
    @apply whitespace-nowrap;
  }

  th,
  td {
    @apply border border-slate-400 px-2 text-left;
  }
}

.table-header {
  tr {
    th {
      @apply py-2 px-2 bg-gray-200 text-sm uppercase font-medium;
    }
  }
}

.table-body {
  tr {
    @apply hover:bg-slate-100 transition-colors duration-200;
  }

  tr:nth-child(even) {
    @apply bg-gray-100;
  }

  td {
    padding: 4px 8px;
    white-space: nowrap;
  }
}

.ant-pagination .ant-pagination-item-active a {
  color: #fff !important;
}

.ant-pagination .ant-pagination-item-active {
  background-color: #000180 !important;
  border-color: #000180 !important;
}

.edit_btn {
  @apply px-2 py-1 bg-[#000180] text-white rounded hover:bg-indigo-600;
}

.del_btn {
  @apply px-2 py-1 bg-red-600 text-white rounded hover:bg-red-800;
}

.ant-btn.ant-btn-sm {
  @apply bg-[#000180] text-white;
}

.title {
  @apply text-lg font-semibold mb-2 text-indigo-600;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.c-btn {
  @apply bg-primary hover:bg-secondary text-white px-5 py-2 rounded outline-none uppercase tracking-wider
}

.d-btn {
  @apply bg-red-600 hover:bg-red-700 text-white px-5 py-2 rounded outline-none uppercase tracking-wider
}

.search {
  @apply border block w-full max-w-[300px] px-3 py-2 rounded outline-none
}

@media (max-width: 767.98px) {
  .table {


    thead {
      display: none;
    }

    tbody {
      tr {
        margin-bottom: 8px;

        td {
          display: block;
          border-color: #d5d5d5;
          border-bottom: none;

        }

        td:last-child {
          margin-bottom: 8px;
          border-bottom: 1px solid #d5d5d5;
        }
      }

      tr:nth-child(even) {
        @apply bg-white;
      }


    }
  }
}

.c-height {
  height: calc(100vh - 200px);
}

.fullscreen-container {
  width: 100%;
  height: 100vh;
}